.section-dialog {
    height: 100%;
    width: 50%;
    margin-top: 0 !important;
    position: absolute;
}
.modal{
    z-index: 99 !important;
    border: black 2px solid;
}
form{
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
}