<div *ngIf="showModal"
  class="section-dialog relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0">
  <div class="modal relative w-auto my-6 mx-auto max-w-sm">
    <div class="flex items-start p-5 border-b border-solid border-gray-300 bg-white rounded-t">
      <h3 class="text-3xl font-semibold">
        {{type}} Material
      </h3>
      <button
        class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
        (click)="toggleModal()">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    </div>
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full  bg-gray-200 outline-none focus:outline-none">
      <div class="relative p-6 flex-auto  bg-gray-200">
        <form class=" bg-gray-200">
          <div class="relative w-full mb-3">
            <label class="block text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Descrição
            </label>
            <input type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Descrição" />
          </div>

          <div class="relative w-full mb-3">
            <label class="block text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Quantidade
            </label>
            <input type="number"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Quantidade" />
          </div>
        </form>
      </div>
      <br />
      <br />
      <!--footer-->
      <div class="flex items-center justify-end p-8 border-t border-solid  bg-gray-200 rounded-b">
        <br />
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Fechar
        </button>
        <button
          class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
