<div class="flex lg:flex-grow items-center" id="example-navbar-info">
  <ul class="flex flex-col lg:flex-row list-none ml-auto">
    <li class="nav-item">
      <button class="text-white background-transparent
          font-bold uppercase px-3 py-1 text-xs outline-none
          focus:outline-none mr-1 mb-1 ease-linear
          transition-all duration-150"
          type="button"
          (click)="goToAccount()"
      >
        Bem vindo, {{user.name}}
      </button>
    </li>
    <li class="nav-item">
      <button class="text-white background-transparent 
            font-bold uppercase px-3 py-1 text-xs
            outline-none focus:outline-none mr-1
            mb-1 ease-linear transition-all duration-150"
            type="button" 
            (click)="logOut()"
        >
        <i class="fas fa-sign-out-alt"></i> Sair
      </button>
    </li>
  </ul>
</div>