<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-8/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
        >
          <div class="card rounded-t mb-0 px-2 py-5 lg:px-10">
            <div class="text-center mb-3">
              <h2 class="text-gray-600 text-lg font-bold">
                Esqueceu sua senha?
              </h2>
            </div>
            <form [formGroup]="forgotForm" (ngSubmit)="doForgotPassword()"> 
  
              <hr class="mt-6 border-b-1 border-gray-400" />
              <br>

              <label class="text-gray-600 text-sm font-bold">*Digite o email cadastrado, em breve irá receber um email com instruções para redefinir a sua senha.</label>
              
              <div class="flex flex-wrap">
                  <div class="w-full px-1 flex-1">
                    <br>
                    <label
                      class="block uppercase text-gray-700 text-xs font-bold mb-2"
                      htmlFor="grid-password"
                    >
                      Email 
                    </label>
                    <input
                      type="text"
                      placeholder="Email"
                      formControlName="email"
                      class="mb-3 px-3 py-3 placeholder-gray-400
                        text-gray-700 bg-white rounded
                        text-sm shadow focus:outline-none
                        focus:shadow-outline w-full ease-linear
                        transition-all duration-150 " 
                    />
                    
                  </div>
              </div>
  
              <br/>
  
              <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500" *ngIf="error.show">
                
                <span class="text-xl inline-block mr-5 align-middle">
                  <i class="fas fa-times"></i>&nbsp;&nbsp;
                </span>
                <span class="inline-block align-middle mr-8">
                  <b>{{error.message}} </b> <br/> 
                </span>
                <button class="absolute
                    bg-transparent text-2xl
                    font-semibold leading-none
                    right-0 top-0 mt-4 mr-6
                    outline-none focus:outline-none"
                    (click)="closeError()"
                    >
                  <span>× &nbsp;&nbsp;</span>
                </button>
              </div>
              
              <div class="flex flex-wrap">
                <div class="w-full px-4 flex-1">
                  <button
                    [routerLink]="['/login']"
                    type="button"
                    class="cancel bg-red-500 text-white active:bg-gray-700
                      text-sm font-bold uppercase px-6 py-3 rounded
                      shadow hover:shadow-lg outline-none focus:outline-none
                      mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  >
                    Cancelar
                  </button>
                </div>
  
                <div class="w-full px-4 flex-1">
                  <button
                    type="submit"
                    class="submit bg-gray-900 text-white active:bg-gray-700
                      text-sm font-bold uppercase px-6 py-3 rounded
                      shadow hover:shadow-lg outline-none focus:outline-none
                      mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  >
                    Recuperar
                  </button>
                </div>
  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  