<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg text-gray-800">
          Materiais
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <app-material-modal #modal></app-material-modal>
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th class="px-6 align-middle border border-solid py-3 
                  text-xs uppercase border-l-0 border-r-0
                  whitespace-no-wrap font-semibold text-left 
                  bg-gray-100 text-gray-600 border-gray-200">
            Nome
          </th>
          <th class="px-6 align-middle border border-solid py-3
                       text-xs uppercase border-l-0 border-r-0
                       whitespace-no-wrap font-semibold text-left
                       bg-gray-100 text-gray-600 border-gray-200">
            Quantidade
          </th>
          <th class="px-6 align-middle border border-solid
                      py-3 text-xs uppercase border-l-0 border-r-0
                      whitespace-no-wrap font-semibold text-left
                      bg-gray-100 text-gray-600 border-gray-200">
            Data de Cadastro
          </th>
          <th class="px-6 align-middle border border-solid
                   py-3 text-xs uppercase border-l-0 border-r-0
                   whitespace-no-wrap font-semibold text-left
                   bg-gray-100 text-gray-600 border-gray-200">
            Data de Atualização
          </th>
          <th class="px-6 align-middle border border-solid py-3 text-xs
                      uppercase border-l-0 border-r-0 whitespace-no-wrap
                      font-semibold text-left bg-gray-100 text-gray-600 border-gray-200">Excluir</th>
          <th class="px-6 align-middle border border-solid py-3 text-xs
                      uppercase border-l-0 border-r-0 whitespace-no-wrap
                      font-semibold text-left bg-gray-100 text-gray-600 border-gray-200">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of listMaterial">
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4 text-left flex items-center">
            <span class="ml-3 font-bold text-gray-700">
              {{material.name}}
            </span>
          </th>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <span class="ml-3 font-bold text-gray-700">
              {{material.amount}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <span class="ml-3 font-bold text-gray-700">
              {{dataAtualFormatada(material.createAt)}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <span class="ml-3 font-bold text-gray-700">
              {{dataAtualFormatada(material.updateAt)}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <button
              class="text-red-500 background-transparent font-bold uppercase px-3 py-1 text-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button">
              <i class="fas fa-trash"></i>
            </button>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <button
              class="text-blue-500 background-transparent font-bold uppercase px-3 py-1 text-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="modal.toggleModal()">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
