<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg text-gray-800">
          Fornecedores
        </h3>
      </div>
      <div>
        <button
          class="bg-green-500 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
          type="button" (click)="goToRegister('Cadastrar')">
          + Novo
        </button>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <app-material-modal #modal></app-material-modal>
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th class="px-6 align-middle border border-solid py-3 
                    text-xs uppercase border-l-0 border-r-0
                    whitespace-no-wrap font-semibold text-left 
                    bg-gray-100 text-gray-600 border-gray-200">
            Nome
          </th>
          <th class="px-6 align-middle border border-solid py-3
                         text-xs uppercase border-l-0 border-r-0
                         whitespace-no-wrap font-semibold text-left
                         bg-gray-100 text-gray-600 border-gray-200">
            Descrição
          </th>
          <th class="px-6 align-middle border border-solid py-3
          text-xs uppercase border-l-0 border-r-0
          whitespace-no-wrap font-semibold text-left
          bg-gray-100 text-gray-600 border-gray-200">
            Telefone
          </th>
          <th class="px-6 align-middle border border-solid
                        py-3 text-xs uppercase border-l-0 border-r-0
                        whitespace-no-wrap font-semibold text-left
                        bg-gray-100 text-gray-600 border-gray-200">
            Data de Cadastro
          </th>
          <th class="px-6 align-middle border border-solid
                     py-3 text-xs uppercase border-l-0 border-r-0
                     whitespace-no-wrap font-semibold text-left
                     bg-gray-100 text-gray-600 border-gray-200">
            Data de Atualização
          </th>
          <th class="px-6 align-middle border border-solid py-3 text-xs
                        uppercase border-l-0 border-r-0 whitespace-no-wrap
                        font-semibold text-left bg-gray-100 text-gray-600 border-gray-200"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provider of listProvider">
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4 text-left flex items-center">
            <span class="ml-3 font-bold text-gray-700">
              {{provider.name}}
            </span>
          </th>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <span class="ml-3 font-bold text-gray-700">
              {{provider.description}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <span class="ml-3 font-bold text-gray-700">
              {{provider.phone}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <span class="ml-3 font-bold text-gray-700">
              {{dataAtualFormatada(provider.createAt)}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-no-wrap p-4">
            <span class="ml-3 font-bold text-gray-700">
              {{dataAtualFormatada(provider.updateAt)}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-right">
            <button
              class="text-red-500 background-transparent font-bold uppercase px-3 py-1 text-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="deleteProvider(provider.id)">
              <i class="fas fa-trash"></i>
            </button>
            <button
              class="text-blue-500 background-transparent font-bold uppercase px-3 py-1 text-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="goToRegister('Editar',provider)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
