<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <button
        class="background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Voltar
      </button>
      <div class="relative w-full px-6 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg text-gray-800">
          {{type}} Material
        </h3>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
