<div class="flex flex-wrap">
  <div class="w-full lg:w-12/12 px-4">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0">
      <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
          <h6 class="text-gray-800 text-xl font-bold">{{type}} Material</h6>
        </div>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form [formGroup]="formGroup">
          <br />
          <div class="flex flex-wrap justify-center">
          </div>
          <br />
          <br />
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block text-gray-700 text font-bold mb-2" htmlFor="grid-password">
                  Descrição
                </label>
                <input type="text" class="px-3 py-3 placeholder-gray-400 text-gray-700
                    bg-white rounded text-sm shadow focus:outline-none
                    focus:shadow-outline w-full ease-linear transition-all duration-150" formControlName="name" />
                <small class="font-normal leading-normal mt-0 mb-4 text-red-600"
                  *ngIf="formGroup.controls.name.errors != null && formGroup.controls.name.errors.required != null && submited == true">
                  * Descrição é um campo obrigatório!
                </small>
              </div>

              <div class="relative w-full mb-3">
                <label class="block text-gray-700 text font-bold mb-2" htmlFor="grid-password">
                  Quantidade
                </label>
                <input type="text" class="px-3 py-3 placeholder-gray-400 text-gray-700 
                    bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline
                    w-full ease-linear transition-all duration-150" formControlName="amount" maxlength="3" />
                <small class="font-normal leading-normal mt-0 mb-4 text-red-600"
                  *ngIf="formGroup.controls.amount.errors != null && formGroup.controls.amount.errors.required != null && submited == true">
                  * Quantidade é um campo obrigatório!
                </small>
              </div>
            </div>
          </div>
          <hr class="mt-6 border-b-1 border-gray-400" />
          <br />
          <div class="flex flex-wrap">
            <div class="w-10/12 px-4">
            </div>
            <button class="bg-red-500 text-white active:bg-green-600 
            font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg 
            outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
              (click)="goBack()">
              Voltar
            </button>
            <button class="bg-green-500 text-white active:bg-green-600 
              font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg 
              outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
              (click)="submit()">
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
