.section-dialog {
    margin-left: center;
    margin-right: center;
    overflow-x: hidden;
}

.icon-dialog-button-add {
    background-color: green;
    margin-right: 0;
    margin-left: auto;
    
}

.icon-dialog-button-cancel {
    background-color: red;
    margin-right: auto;
    margin-left: 0;
}

.modal{
    position: initial;
    margin-left: 10em;
    border: black 2px solid;
    margin-bottom: 50em;
}
form{
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
}