<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">

  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg text-gray-800">
          Projetos
        </h3>
      </div>
      <div>
        <button
          class="bg-green-500 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
          type="button" (click)="modal.toggleModal('Cadastrar')">
          + Novo
        </button>
      </div>
    </div>
  </div>

  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full px-4 flex-1">
        <div class="relative flex flex-col min-w-0 break-word  mb-6 shadow-lg rounded-lg bg-gray-200 border-0">
          <div class="rounded-t bg-white mb-0 px-6 py-6">
            <div class="text-center flex justify-between">
              <h6 class="text-gray-800 text-xl font-bold">Porta Laminada</h6>
            </div>
          </div>
          <div class="px-4 lg:px-4 py-10 pt-2">
            <div class="flex flex-wrap justify-center">
              <img
                src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg"
                alt="..." class="shadow roundedalign-middle border-none" width="250px" />
            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-4 flex-1">
        <div class="relative flex flex-col min-w-0 break-word  mb-6 shadow-lg rounded-lg bg-gray-200 border-0">
          <div class="rounded-t bg-white mb-0 px-6 py-6">
            <div class="text-center flex justify-between">
              <h6 class="text-gray-800 text-xl font-bold">Porta Laminada</h6>
            </div>
          </div>
          <div class="px-4 lg:px-4 py-10 pt-2">
            <div class="flex flex-wrap justify-center">
              <img
                src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg"
                alt="..." class="shadow roundedalign-middle border-none" width="250px" />
            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-4 flex-1">
        <div class="relative flex flex-col min-w-0 break-word  mb-6 shadow-lg rounded-lg bg-gray-200 border-0">
          <div class="rounded-t bg-white mb-0 px-6 py-6">
            <div class="text-center flex justify-between">
              <h6 class="text-gray-800 text-xl font-bold">Porta Laminada</h6>
            </div>
          </div>
          <div class="px-4 lg:px-4 py-10 pt-2">
            <div class="flex flex-wrap justify-center">
              <img
                src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg"
                alt="..." class="shadow roundedalign-middle border-none" width="250px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
