.auth-component-background {
    background-image: url("../img/background.jpg");
}

.cancel {
    background-color: #ffa101;
}

.submit {
    background-color: #0076bc ;
}

.card {
    background-color: #f7f8fa;
}